@import "../adaptive-placeholders";

// Setting Defaults for Adaptive Placeholder
$adaptive-placeholder: (height: 3em, margin: 1em, font-size: 1em);

// Calling adaptive placeholder for input
.adaptive-form input[type='email'],
.adaptive-form input[type='text'] {
  @include adaptive-placeholder;
}

form {
  margin: 0 auto;
  width: 18em;
}

.adaptive-placeholder {
  width: 18em;
  max-width: 100%;
}

// Settings for Adaptive Placeholder to use with Textareas
// Note the use of textarea key
// $textarea-placeholder: (
//   height: 18em,
//   border-radius: 16px,
//   textarea: true,
//   );

// calling adaptive placeholder for textarea
textarea {
  @include adaptive-placeholder((height: 18em, textarea: true));
}

// For Demo Purposes
html {
  height: 100%;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
  flex: 1 100%;
  text-align: center;
  display: block;
  color: #444;
}


// Layouts
.container {
  width: 960px ;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  // align-items: center;
  align-content: center;
  height: 100%;
}

.left,.right {
  padding: 0 2em;
}

.left {
  flex: 2;
  order: 2;
}

.right {
  flex: 1;
  order: 1;
}

// Chooser

.chooser {
  width: auto;
  float: right;
}

.chooser input {
  float: left;
  border: 1px solid #ccc;
  padding: 0 0.5em;
  width: 6em;
  text-align: center;
  height: 2em;
  line-height: 1.5em;
  border-radius: 6px;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.chooser label {
  display: block;
  line-height: 2em;
  margin-left: 7em;
}
